
  
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    list-style: none;

	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

html,
body

{
  @apply cd-h-full cd-text-base-main cd-font-regular cd-overflow-hidden;
}

#app {
    @apply cd-relative cd-ml-[94px] cd-overflow-x-hidden cd-grid;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.container {
    @apply cd-w-full xl:cd-max-w-5xl cd-mx-auto cd-p-2;

}

:focus-visible {
    @apply cd-outline-none;
  }

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }
}